h1 {
    color: coral;
}

h3 {
    color: limegreen;
}

p {
    font-size: 18px;
    margin: 10px;
}

.headers {
    text-align: center;
    font-family: "Open Sans", Helvetica, sans-serif;
}

.img_right {
    height: 150px;
    float: right;
}
 
.img_left {
    height: 150px;
    float: left;
}

#first {
    font-family: "Trebuchet MS", Helevetica, sans-serif;
    background-color: orchid;
    color: white;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    overflow: auto;
}

#second {
    font-family: Georgia, serif;
    border-color: mediumturquoise;
    border-style: dashed;
    padding: 20px;
    margin: auto;
    overflow: auto;
}

#third {
    margin: auto;
    width: 50%;
}



